.c-nav-bar {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: $global-color-primary;

  .o-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

  .c-nav-bar__title {
    color: $white;
    margin: 0;
    font-size: 1.5rem;
  }
