.c-actors-view-screen {
  min-height: 100vh;

  .o-hero__body {
    width: 100%;
  }
}

  .c-actors-view-screen__heading {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

    .c-actors-view-screen__image {
      width: 150px;
      border-radius: 5px;
      box-shadow: 0 4px 20px 0 rgba(168,182,191,.6);

      @include mq($from: 'laptop') {
        width: 225px;
      };
    }

    .c-actors-view-screen__title {
      margin: 0 0 .5rem;
      font-size: 1.15rem;
      line-height: 1;

      @include mq($from: 'laptop') {
        font-size: 2rem;
        margin-bottom: 1rem;
      };
    }
